$font-light: #2a2a2a;
$font-dark: #e5e6ec;

.CheckboxForm_CheckboxTis {
  > span:last-child {
    font-size: var(--font-size-x-small) !important;
    color: $font-light;
  }

  &.Dark_CheckboxTis {
    > span:last-child {
      color: $font-dark;
    }
  }
}

.Checkbox_CheckboxTis {
  margin-right: 5px !important;
  color: $font-light;
  &.Dark_CheckboxTis {
    color: $font-dark;
  }
}
